@import "shared/scss/abstracts/abstracts";

.woocommerce {
  .site-shop {
    &__product-add-to-cart {
      line-height: normal;
    }
  }





  p.stars a,
  .star-rating::before {
    color: $var-accent-color;
  }

  a {
    &.button {
      &.alt {
        background-color: $var-black-color;

        &:hover {
          background-color: $var-accent-color;
        }
      }
    }
  }
}