@import "shared/scss/abstracts/abstracts";

.ic-mask {
  --#{$prefix-theme}ic-width: 1.6rem;
  --#{$prefix-theme}ic-height: 1.6rem;
  --#{$prefix-theme}ic-color: currentColor;

  display: inline-block;
  width: var(--#{$prefix-theme}ic-width);
  height: var(--#{$prefix-theme}ic-height);
  background-color: var(--#{$prefix-theme}ic-color);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;

  &-bars {
    @include mask-image("#{$ic-path-theme}/bars.svg");
  }

  &-cart-plus {
    @include mask-image("#{$ic-path-theme}/cart-plus.svg");
  }

  &-cart-shopping {
    @include mask-image("#{$ic-path-theme}/cart-shopping.svg");
  }

  &-chevron-down {
    @include mask-image("#{$ic-path-theme}/chevron-down.svg");
  }

  &-chevron-right {
    @include mask-image("#{$ic-path-theme}/chevron-right.svg");
  }

  &-chevron-up {
    @include mask-image("#{$ic-path-theme}/chevron-up.svg");
  }

  &-facebook-f {
    @include mask-image("#{$ic-path-theme}/facebook-f.svg");
  }

  &-instagram {
    @include mask-image("#{$ic-path-theme}/instagram.svg");
  }

  &-linkedin-in {
    @include mask-image("#{$ic-path-theme}/linkedin-in.svg");
  }

  &-location-dot {
    @include mask-image("#{$ic-path-theme}/location-dot.svg");
  }

  &-minus {
    @include mask-image("#{$ic-path-theme}/minus.svg");
  }

  &-paper-plane {
    @include mask-image("#{$ic-path-theme}/paper-plane.svg");
  }

  &-phone {
    @include mask-image("#{$ic-path-theme}/phone.svg");
  }

  &-plus {
    @include mask-image("#{$ic-path-theme}/plus.svg");
  }

  &-twitter {
    @include mask-image("#{$ic-path-theme}/twitter.svg");
  }

  &-xmark {
    @include mask-image("#{$ic-path-theme}/xmark.svg");
  }

  &-youtube {
    @include mask-image("#{$ic-path-theme}/youtube.svg");
  }
}