@import "../../../shared/scss/abstracts/abstracts";

.icon-mask {
  --#{$prefix-theme}-icon-width: 1.6rem;
  --#{$prefix-theme}-icon-height: 1.6rem;
  --#{$prefix-theme}-icon-color: currentColor;

  display: inline-block;
  width: var(--#{$prefix-theme}-icon-width);
  height: var(--#{$prefix-theme}-icon-height);
  background-color: var(--#{$prefix-theme}-icon-color);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;

  &-facebook {
    mask-image: url("#{$icon-path}/facebook.svg");
    -webkit-mask-image: url("#{$icon-path}/facebook.svg");

    &-f {
      mask-image: url("#{$icon-path}/facebook-f.svg");
      -webkit-mask-image: url("#{$icon-path}/facebook-f.svg");
    }

    &-messenger {
      mask-image: url("#{$icon-path}/facebook-messenger.svg");
      -webkit-mask-image: url("#{$icon-path}/facebook-messenger.svg");
    }
  }

  &-square {
    &-facebook {
      mask-image: url("#{$icon-path}/square-facebook.svg");
      -webkit-mask-image: url("#{$icon-path}/square-facebook.svg");
    }

    &-twitter {
      mask-image: url("#{$icon-path}/square-twitter.svg");
      -webkit-mask-image: url("#{$icon-path}/square-twitter.svg");
    }

    &-youtube {
      mask-image: url("#{$icon-path}/square-youtube.svg");
      -webkit-mask-image: url("#{$icon-path}/square-youtube.svg");
    }

    &-vimeo {
      mask-image: url("#{$icon-path}/square-vimeo.svg");
      -webkit-mask-image: url("#{$icon-path}/square-vimeo.svg");
    }

    &-instagram {
      mask-image: url("#{$icon-path}/square-instagram.svg");
      -webkit-mask-image: url("#{$icon-path}/square-instagram.svg");
    }
  }

  &-twitter {
    mask-image: url("#{$icon-path}/twitter.svg");
    -webkit-mask-image: url("#{$icon-path}/twitter.svg");
  }

  &-google {
    mask-image: url("#{$icon-path}/google.svg");
    -webkit-mask-image: url("#{$icon-path}/google.svg");
  }

  &-linkedin {
    mask-image: url("#{$icon-path}/linkedin.svg");
    -webkit-mask-image: url("#{$icon-path}/linkedin.svg");

    &-in {
      mask-image: url("#{$icon-path}/linkedin-in.svg");
      -webkit-mask-image: url("#{$icon-path}/linkedin-in.svg");
    }
  }

  &-youtube {
    mask-image: url("#{$icon-path}/youtube.svg");
    -webkit-mask-image: url("#{$icon-path}/youtube.svg");
  }

  &-vimeo {
    mask-image: url("#{$icon-path}/vimeo.svg");
    -webkit-mask-image: url("#{$icon-path}/vimeo.svg");

    &-v {
      mask-image: url("#{$icon-path}/vimeo-v.svg");
      -webkit-mask-image: url("#{$icon-path}/vimeo-v.svg");
    }
  }

  &-pinterest {
    mask-image: url("#{$icon-path}/pinterest.svg");
    -webkit-mask-image: url("#{$icon-path}/pinterest.svg");

    &-p {
      mask-image: url("#{$icon-path}/pinterest-p.svg");
      -webkit-mask-image: url("#{$icon-path}/pinterest-p.svg");
    }
  }

  &-instagram {
    mask-image: url("#{$icon-path}/instagram.svg");
    -webkit-mask-image: url("#{$icon-path}/instagram.svg");
  }

  &-chevron {
    &-up {
      mask-image: url("#{$icon-path}/chevron-up.svg");
      -webkit-mask-image: url("#{$icon-path}/chevron-up.svg");
    }
  }

  &-location-dot {
    mask-image: url("#{$icon-path}/location-dot.svg");
    -webkit-mask-image: url("#{$icon-path}/location-dot.svg");
  }

  &-paper-plane {
    mask-image: url("#{$icon-path}/paper-plane.svg");
    -webkit-mask-image: url("#{$icon-path}/paper-plane.svg");

    &-p {
      mask-image: url("#{$icon-path}/paper-plane-p.svg");
      -webkit-mask-image: url("#{$icon-path}/paper-plane-p.svg");
    }
  }

  &-phone {
    mask-image: url("#{$icon-path}/phone.svg");
    -webkit-mask-image: url("#{$icon-path}/phone.svg");
  }

  &-cart-shopping {
    mask-image: url("#{$icon-path}/cart-shopping.svg");
    -webkit-mask-image: url("#{$icon-path}/cart-shopping.svg");
  }

  &-calendar {
    mask-image: url("#{$icon-path}/calendar.svg");
    -webkit-mask-image: url("#{$icon-path}/calendar.svg");
  }

  &-bars {
    mask-image: url("#{$icon-path}/bars.svg");
    -webkit-mask-image: url("#{$icon-path}/bars.svg");
  }

  &-thumbtack {
    mask-image: url("#{$icon-path}/thumbtack.svg");
    -webkit-mask-image: url("#{$icon-path}/thumbtack.svg");
  }
}